.wrapper {
  margin-left: 10px;
  padding: 20px;
  background-color: rgb(65, 65, 65);
  width: 100%;
  height: calc(100vh - 135px);
  overflow-y: auto;
}

.header {
  display: flex;
  justify-content: space-between;
}

.container {
  border: 2px solid rgb(51, 51, 51);
  margin: 20px 0;
}

.containerName {
  color: white;
  background-color: rgb(51, 51, 51);
  margin: 0;
  padding: 5px 10px;
  display: flex;
  align-items: center;
}

.owner {
  margin: 20px;
  display: flex;
  align-items: center;
}

.avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 10px;
}

.userInfoContainer {
  display: flex;
  flex-direction: column;
}

.userName {
  margin-bottom: 5px;
}

.userSpecialities {
  text-transform: uppercase;
}

.details {
  display: flex;
  flex-direction: column;
  margin: 10px 20px;
}

.containerElement {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
}
.nameOfDescription {
  margin-bottom: 5px;
  color: rgb(123, 123, 123);
}

.locationContainer {
  display: flex;
}

.location {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 20px;
  border: 2px solid black;
  border-radius: 5px;
  margin: 5px;
}
